extends layout.pug

block header_scripts
  link(rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css')

block content
  div.container
    div.row
      h1 All Recordings
      ul
        for utterance in utterances
          li
            a(href=`/recordings/${utterance.id}` target="_blank")= `"${utterance.text}"`

block footer_scripts
  script(src='/js/lib/jquery.min.js')
  script(src='/js/main.bundle.js')
