extends layout.pug

block content
  h1= History
  div.container
    div.row
      ul#history-list.nl
        each utteranceObj in history
          li.utterance
            span.text= `"${utteranceObj.utterance}" `
            span.date= `(${moment(utteranceObj.timestamp).format('MM/DD/YY HH:mm:ss')}) `
            a.screenshot(href=utteranceObj.screenshot) Screenshot

block footer_scripts
  script(src='/js/lib/capture-video-frame.js')
  script(src='/js/lib/jquery.min.js')
  script(src='https://download.affectiva.com/js/3.2/affdex.js')
  //- script(src='/js/lib/affdex.js')
  script(src='/js/main.bundle.js')
