extends layout.pug

block header_scripts
  link(rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css')

block content
  h1= foo
  div.container
    div.row
      h1 Lyrebird Demo
      h3#status Press Spacebar to Record
      //- form#form
      //-   input#input
      //-   button#submit.button-primary(disabled) Submit
    div#camera-root
    div#video-wrap
      video(src='https://s3.amazonaws.com/conversational-exhibit/lyrebird-loop.mp4', loop)

block footer_scripts
  script(src='/js/lib/capture-video-frame.js')
  script(src='/js/lib/jquery.min.js')
  script(src='https://download.affectiva.com/js/3.2/affdex.js')
  //- script(src='/js/lib/affdex.js')
  script(src='/js/main.bundle.js')
