extends layout.pug

block header_scripts
  link(rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css')

block content
  h1= foo
  div.container
    div.row
      h1 Lyrebird Demo
      form#form
        input#input
        button#submit.button-primary(disabled) Submit
    div.row
      h5.nav
        span.right
          a(href="/recordings/all") all
    div.row#recording-history
      h2 History
      ul#history-list
    div#camera-root
    div#video-wrap
      video(src='/video/screensaver.mp4', loop)

block footer_scripts
  script(src='/js/lib/jquery.min.js')
  script(src='https://download.affectiva.com/js/3.2/affdex.js')
  //- script(src='/js/lib/affdex.js')
  script(src='/js/main.bundle.js')
