extends layout.pug

block header_scripts
  link(rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css')
    
block content
  div#wrapper
    section#main-content-wrap
      div#main-content
        div#instructions
          h1#jeff-say.lt-blue What do you want Jeff to say?
          if installation
            p#press-record.white.medium Press the button below and speak clearly.
          else
            p#press-record.white.medium Press the spacebar and speak clearly.
          br
          p #[span(class="lt-blue") Hint:] Use longer phrases for better audio quality.
          hr#rule.lt-gray.thick
          p#when-you-pause.lt-gray When you pause after speaking, Lyrebird will play back your words in the dulcet tones of a 21st-century CEO.
        div#jeff-photo
          img(src='/img/jeff.png')
        div#status-wrap(style="display: none;")
          h3.status#listening Listening<span class="ae"></span>
          h3.status#processing Processing<span class="ae"></span>
          h3.status#user-text
            span.generating Generating: #[span(class="generating-text")]#[span(class="ae")]
            span.speaking
              span.speaking-text
          h3.status#message-text
            
    section#fine-print-wrap
      div#fine-print
        div#in-progress(style="visibility: hidden;")
          img(src='/img/loading.gif')
        p#fine-print-copy.lt-blue.tiny Designed by a Canadian start-up, Lyrebird already has been used to show how well-known voices can deliver messages they never actually said. Along with new video processing technology, the implications for "fake news" have raised alarms among journalists and media worldwide.
        div#squiggles
          img(src='/img/squiggles.png')
  div#video-wrap
    video
      source(src='https://d32vnycoqqt3qz.cloudfront.net/loops/lyrebird-loop-simple.mp4', type='video/mp4', loop)
      source(src='https://d32vnycoqqt3qz.cloudfront.net/loops/lyrebird-loop-simple.webm', type='video/webm', loop)
  div#camera-root

block footer_scripts
  script(src='/js/lib/capture-video-frame.js')
  script(src='/js/lib/jquery.min.js')
  script(src='https://download.affectiva.com/js/3.2/affdex.js')
  //- script(src='/js/lib/affdex.js')
  script(src='/js/main.bundle.js')
