html,
body {
  font-family: 'Lato', sans-serif;
}

main {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

button[disabled] {
  background: #ccc;
  border-color: #ccc;
  text-shadow: none;
  cursor: default;

  &:hover {
    background: #ccc;
    border-color: #ccc;
  }
}

audio {
  display: block;
  width: 100%;
}

.container {
  max-width: 80rem;
}

#form {
}

#input {
  display: block;
  padding: 1.5rem;
  width: 100%;
  font-size: 2.4rem;
}

#submit {
  float: right;
}

#recording-history {
  display: none;
}

.recording-info {
  margin-top: 2rem;

  p {
    margin-bottom: 1em;
  }
}
